Repository WyriHaximus/php-metrics, pull requests merged in 2022-10, with the labels that each got.

#69 Use thecodingmachine/safe@^2.0
  composer.json
  composer.lock
  src/InMemory/Registry/Counters.php
  src/InMemory/Registry/Gauges.php
  src/InMemory/Registry/Histograms.php
  src/InMemory/Registry/Summaries.php
  src/InMemory/Summary.php
Labels: Dependencies 📦, JSON 👨‍💼, Source 🔮, PHP 🐘

#71 Fix composer unused
  Makefile
  composer.json
  composer.lock
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘

#72 Ensure metrics printer matches expected format
  Makefile
  examples/basic.php
Labels: PHP 🐘

#73 Fix infection thread issue
  .github/workflows/ci.yml
  Makefile
Labels: YAML 🍄, Configuration ⚙, CI 🚧
